extends ../contentlayout

block page_content
  if include_options
    include ../includes/options_books
  for b in books
    .book_summary
      .thumbnail
        img(src='#{b.cover_url}' height='250' width='168')
      .summary_body
        .summary_header
          .title_info
            h3 
              a(href='/books/#{b.book_id}') #{b.title}
            p By 
              a(href='/authors/#{b.author_id}') #{b.first_name} #{b.last_name}
          .buttons
            a(href='/books/#{b.book_id}/edit')
              button edit
            a(href='/books/#{b.book_id}/delete')
              button remove
        .summary_content
          p #{b.genre}
          p #{b.description}
        if include_delete
          include ../includes/delete
