extends ../contentlayout

block page_content
  if include_options
    include ../includes/options_author
  for a in authors
    .book_summary
      .thumbnail
        img(src='#{a.portrait_url}' height='250' width='168')
      .summary_body
        .summary_header
          .title_info
            h3 
              a(href='/authors/#{a.id}') #{a.first_name} #{a.last_name}
          .buttons
            a(href='/authors/#{a.id}/edit')
              button edit
            a(href='/authors/#{a.id}/delete')
              button remove
        .summary_content
          p #{a.biography}
        if include_delete
          include ../includes/delete_author
